.button {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    margin-left: 50px;
    background-color: rgb(0, 0, 0);
    border-style: none;
    color: aliceblue;
    font-size: 30px;
    cursor: pointer;
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to right,
         rgb(211, 23, 10) 0%,
         rgb(10, 2, 2) 100% 
    );
    padding-top: 30px;
    
}


.containerDetail{
    width: 800px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    padding: 20px 10px;
    color: rgb(221, 221, 221);
    border-radius: 15px;
    font-style: italic;
}


.mainBox {
    text-align: center;
}

.img {
    width: 320px;
    height: 350px;
}

.infoDiv {
    margin: 20px;
    background-color: rgb(78, 2, 2);
    border-radius: 5px;
    padding: 15px;
}