.container{
    margin: 0 auto;
}
.input {
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 20px;
    font-size: 18px;
    font-style: italic;
}


.button {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(0, 0, 0);
    border-style: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.05);
    transition: 0.3s;
}