.container{
    padding: 15px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.219);
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.button {
    width: 190px;
    height: 40px;
    border-radius: 5px;
    margin-left: 30px;
    background-color: black;
    border-style: none;
    color: aliceblue;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    cursor: pointer;
    
}

.button:hover{
    transform: scale(1.03);
    transition: 0.3s;
}

.searchBar{
    margin-left: 100px;
}